<header>
    <nav>
        <a href="/" class="logo">MetroGO! Transit + Bike App</a>
        <button id="theme-toggle" aria-label="Toggle dark mode" title="Toggle dark mode">
            <i class="mdi mdi-weather-night"></i>
        </button>

        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/maps/transit">Transit Map</a>
            <a href="/maps/bikes">Bike Share Map</a>
            <a href="/maps/maptype3">Transit Map 2</a>
        </div>
    </nav>
</header>
