<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MW Transit + Bike App | Bikes</title>

  <!-- Styles -->
  <link rel="stylesheet" href="/public/styles/main.css" />
        <link href="/public/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />

        <link href="https://unpkg.com/maplibre-gl/dist/maplibre-gl.css" rel="stylesheet" />
        <script src="https://unpkg.com/maplibre-gl/dist/maplibre-gl.js"></script>

  <!-- MapLibre JS -->
  
</head>
<body>
    {{> navbar}}
  <script>
    window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
    </script>
  <script defer src="/_vercel/insights/script.js"></script>

  <main>
    <h1>Bike Stations</h1>
    <div id="map"></div>
  </main>

  <!-- Your Map Script -->
  <script src="/public/scripts/bikemap.js"></script>

</body>
</html>