<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>MetroGO! Transit Map</title>
        <link rel="icon" type="image/svg+xml" href="/public/icons/favicon.ico" />
        <link rel="stylesheet" href="public/styles/main.css" />
        <!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "ee8066ccd1024fe7901f5f9910e52f36"}'></script><!-- End Cloudflare Web Analytics -->
    </head>
    <body>
        {{> navbar}}
        <header>

            <script>
                window.va =
                    window.va ||
                    function () {
                        (window.vaq = window.vaq || []).push(arguments);
                    };
            </script>
            <script defer src="/_vercel/insights/script.js"></script>
        </header>
        <main>
            <div class="hero">
                API for Public Transportation Departure Widgets for iOS using Widgy
                Converted from other apis to human readable and easier to use format
            </div>
            <a href="/departures/13156942550">LA Metro San Dimas</a>

        </main>

        <script>
            window.va =
                window.va ||
                function () {
                    (window.vaq = window.vaq || []).push(arguments);
                };
        </script>
        <script defer src="/_vercel/insights/script.js"></script>
    </body>
</html>
