<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Vercel + Flask</title>
        <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
        <link rel="stylesheet" href="public/styles/main.css" />
    </head>
    <body>
        {{> navbar}}
        <header>
            {% include "navbar.html" with context %}
            <script>
                window.va =
                    window.va ||
                    function () {
                        (window.vaq = window.vaq || []).push(arguments);
                    };
            </script>
            <script defer src="/_vercel/insights/script.js"></script>
        </header>
        <main>
            <div class="hero">
                <h1>LA Metro Map / Resources</h1>
                <p>This is not a offical LA Metro map but a transit advocates fun project</p>
            </div>

            <div class="cards">
                <div class="card">
                    <h3>Routes</h3>
                    <p>Access sample JSON data through our REST API. Perfect for testing and development purposes.</p>
                    <a href="/routes">Routes</a>
                </div>
                <div class="card">
                    <h3>Maps</h3>
                    <a href="/transit">Transit Map</a>
                    <span class="mdi mdi-bikes"></span>
                    <a href="/bikes">Bikeshare Map</a>
                </div>
            </div>
        </main>
    </body>
</html>
