<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Nearby Departures - 7th St/Metro Center</title>
        <link href="/public/styles/type3.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9/dist/leaflet.css" />
    </head>
    <body>
        <! navbar>
         {{> navbar}}
        <div id="app">
            <header>
                <div class="header-text">
                    <h1>MattMaps</h1>
                    <div class="subtitle">Transit Map Collection</div>
                    <a href="/maps">Maps</a>
                </div>

                <button id="theme-toggle" aria-label="Toggle dark mode" title="Toggle dark mode">
                    <i class="mdi mdi-weather-night"></i>
                </button>
            </header>
            <div class="main-layout">
                <aside id="sidebar">
                    <h2 id="selected-stop">Click a stop</h2>
                    <div class="table-scroll">
                        <div id="stopTimesTable_body" class="departure-list"></div>
                    </div>
                </aside>
                <div id="map-container">
                    <div id="map"></div>
                </div>
            </div>
        </div>
        <script src="https://unpkg.com/leaflet@1.9/dist/leaflet.js"></script>
        <script src="/public/scripts/map3.js"></script>
        <script>
            window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
        </script>
        <script defer src="/_vercel/insights/script.js"></script>
    </body>
</html>
