@import url("https://cdn.jsdelivr.net/npm/@mdi/font@7.4.47/css/materialdesignicons.min.css");
#map {
    height: 700px;
    grid-row-start: span;
}
html {
    font-family: sans-serif;
}
.container {
    display: grid;
    grid-template-columns: 70% 30%;
}
#sidebar {
    justify-content: stretch;
}
.mdi {
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
}
.container div {
    text-align: left;
}
.stop_name {
    font-size: 16px;
    font-weight: bold;
}
#headsign {
    font-size: 16px;
    font-weight: bold;
}
.route_name {
    font-size: 14px;
}
table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
.status-live {
    color: green;
}
th,
td {
    border-bottom: 1px solid #ddd;
}
.svg-container {
    width: 100%;
    height: 100%;
}