<!doctype html>
<html lang="en">
    <head>
        <title>MetroGO</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css" />
        <meta property="description" content="Track and view location and times for Los Angeles Metro" />
        <meta property="og:site_name" content="Metro GO" />
        <meta property="og:image" content="/public/favicon.ico" />
        <meta property="og:title" content="Live LA Metro Map" />
        <link rel="stylesheet" href="/static/styles/style.css" />
        <link rel="stylesheet" href="/static/maplibre-gl/maplibre-gl.css" />

        <!-- MapLibre JS -->
        <script src="/static/maplibre-gl/maplibre-gl.js"></script>
    </head>
    <body>
        {% include "navbar.html" with context %}
        <h1 class="title is-2">MetroGO!</h1>
        <h1 class="subtitle">The best way around LA</h1>
        <div class="box">
            <div id="map"></div>
        </div>

        <script src="https://unpkg.com/maplibre-gl@2.4.0/dist/maplibre-gl.js"></script>
        <script src="/static/scripts/map.js"></script>
        <script>
            window.si =
                window.si ||
                function () {
                    (window.siq = window.siq || []).push(arguments);
                };
        </script>
        <script defer src="/_vercel/speed-insights/script.js"></script>
        <script>
            window.va =
                window.va ||
                function () {
                    (window.vaq = window.vaq || []).push(arguments);
                };
        </script>
        <script defer src="/_vercel/insights/script.js"></script>
    </body>
</html>
