#map {
  flex: 1;
  height: 80vh; /* important: gives map height */
  min-height: 300px; /* ensure some height on mobile */
  border-radius: 2px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.5);
}
table {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
}
th,td {
  border: 1px solid #ccc;
  padding: 8px 12px;
  text-align: center;
}
th {
  background-color: #f5f5f5;
}
tr:nth-child(even) {
  background: #fafafa; 
}
.route-icon {
  width: 28px;
  height: 28px;
}
.route-circle {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    font-size: 14px;
    margin-right: 8px;
}